@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: OpenDyslexic;
  src: url("../fonts/OpenDyslexic2/OpenDyslexic-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  justify-content: space-between;
}

body {
  background-image: url("../imagens/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
}

p {
  margin-bottom: 0px !important;
}

h4 {
  text-shadow: 1px 1px 10px;
  font-weight: bold;
}

textarea {
  border: 1px solid #76b3e6 !important;
  min-height: 100px !important;
}

/* NAVBAR */

.nav-link {
  font-weight: 700 !important;
  font-size: 20px !important;
}

nav ul li:hover {
  background: #76b3e6;
  border-radius: 10px;
  cursor: pointer;
}

nav ul li {
  display: flex;
  justify-content: space-between;
}

/* NAVBAR */

/* FOOTER */

.container_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0px 1px 0px;
  border-color: #000;
  border-style: solid;
}

.container_footer > .size100 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.size100 {
  width: 100%;
}

.links > a {
  text-decoration: none;
  color: black;
}

.font-size-footer {
  font-size: 10px;
}

/* FOOTER */
